*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Nexa-Regular";
  font-weight: 400;
  src: url("../fonts/Nexa-Regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Nexa-Regular", sans-serif;
  color: var(--color-primary-white);
  background-color: var(--color-primary-black);
}

:root {
  --color-primary-black: #000100;
  --color-primary-white: #ffffff;
  --color-secondary-blue: #297cde;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: "Nexa-Regular", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: inherit;
}

ul {
  list-style-type: none;
  margin: 14px;
  padding: 0;
}

p {
  list-style-type: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: var(--color-primary-white);
}

.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Lang-menu */
.lang-menu {
  position: absolute;
  padding: 5px;
  top: 100%;
  left: 0;
  border: 0.5px solid var(--color-primary-white);
  border-radius: 5px;
  display: none;
  z-index: 100;
}

.lang-menu.show {
  display: block;
}

.lang-menu li {
  cursor: pointer;
  padding: 4px 6px;
}

.lang-menu li:hover {
  background: var(--color-secondary-blue);
}

.flag-lang {
  width: 20px;
  height: 14px;
}

/* Header */
.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__hat {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 60px;
}

.header__langswitcher {
  position: relative;
}

.header__lang-btn {
  font-size: 18px;
  cursor: pointer;
  color: var(--color-primary-white);
}

.header__link {
  font-size: 18px;
  transition-duration: 0.3s;
}

.header__link:hover {
  color: var(--color-secondary-blue);
}

/* Main-section */
.main-section {
  position: relative;
  margin-top: 100px;
}

.main-section__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 0 250px;
  background-image: url(../images/background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-section__title {
  font-size: 64px;
  line-height: 1.25;
}

.main-section__text {
  font-size: 20px;
  line-height: 1.25;
}

.main-section__arrow {
  display: flex;
  justify-content: center;
  margin-block: 58px;
}

.main-section__button {
  cursor: pointer;
  padding: 16px 40px;
  background: transparent;
  color: var(--color-primary-white);
  border: 1px solid var(--color-primary-white);
  border-radius: 300px;
  transition-duration: 0.3s;
}

.main-section__button:hover {
  color: var(--color-secondary-blue);
  border: 1px solid var(--color-secondary-blue);
}

.footer__main-section {
  display: flex;
  justify-content: flex-end;
}

.arrow-link,
.arrow-link-rotate {
  color: var(--color-primary-white);
  transition: color 0.3s;
}

.arrow-link:hover,
.arrow-link-rotate:hover {
  color: var(--color-secondary-blue);
}

/* Work-section */

.work-section__title {
  font-size: 32px;
  line-height: 1.2;
}

.work-section__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  max-width: 1200px;
  gap: 16px;
  margin: 0 auto;
}

.work-section__block {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.work-section__block:hover {
  transform: scale(1.02);
}

.work-section__block img {
  border-radius: inherit;
  filter: grayscale(100%);
}

.work-section__block img:hover {
  filter: grayscale(0);
}

.block1,
.block3,
.block5,
.block6 {
  grid-row: span 1;
}

.block2,
.block4 {
  grid-row: span 2;
}

/* Works-video-section */
.works-video-section__container p {
  margin-block: 40px;
  font-size: 20px;
}

.works-video-section__container img {
  border-radius: 12px;
}

.works-video-section__container img:nth-of-type(2) {
  position: relative;
  left: 50%;
  width: 100vw;
  max-width: none;
  transform: translateX(-50%);
  margin-bottom: 60px;
}

.works-video-section__videocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-video-section__videocontainer video {
  width: 100%;
  border-radius: 12px;
}

.works-video-section__videocontainer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.works-video-section__videocontainer-2 video {
  width: 400px;
  height: auto;
  max-width: none;
}

/* About-section */
.about-section {
  position: relative;
}

.about-section__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-section__title {
  font-size: 64px;
  line-height: 1.2;
}

.about-section__text {
  font-size: 20px;
  line-height: 1.25;
}

.about-section__image {
  position: absolute;
  width: 100vw;
  height: auto;
  display: block;
  margin-right: calc(-50vw + 50%);
  z-index: -100;
}

.about-section__fact {
  margin-top: 100px;
}

.about-section__list {
  display: flex;
  gap: 200px;
}

.about-section__list-title {
  font-size: 56px;
  font-weight: 400;
}

.about-section__list-text {
  font-size: 24px;
}

.about-section__key-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.about-section__key-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  gap: 24px;
}

.about-section__key-title {
  font-size: 40px;
  line-height: 1.25;
}

.about-section__key-text {
  font-size: 20px;
  line-height: 1.25;
}

.about-section__socials {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.about-section__socials-title {
  font-size: 40px;
  line-height: 1.25;
}

.about-section__socials-list {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}

.socials-link {
  transition-duration: 0.3s;
}

.socials-link:hover {
  transform: scale(1.1);
}

.footer__about-section {
  display: flex;
  justify-content: flex-end;
}

/* Footer-works-section */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  transition: all 0.3s ease;
}

.footer__link svg {
  position: relative;
  top: -2px;
}

.footer__link:hover {
  color: var(--color-secondary-blue);
}

/* Banner-section */
.banner-section__container {
  margin-top: 60px;
}

.banner-section__container p {
  font-size: 20px;
}

.banner-section__container p:nth-of-type(2) {
  margin-top: 16px;
}

.banner-section__series-first {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 300px;
  gap: 50px;
  margin-top: 100px;
}

.banner-section__series-first img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-section__series-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 56px;
  margin-block: 100px;
}

.banner-section__series-second-left {
  display: flex;
  flex: 1;
  gap: 20px;
}

.banner-section__series-second-left img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-section__series-second-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.banner-section__series-second-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-section__series-third-1 {
  position: relative;
  display: flex;
  gap: 56px;
  margin-bottom: 100px;
}

.banner-section__series-third-1 img,
.banner-section__series-third-2 img,
.banner-section__series-four img {
  border-radius: 8px;
}

.banner-section__series-third-1 > div:last-child {
  position: absolute;
  bottom: 0;
  left: 53%;
  width: 100%;
}

.banner-section__series-third-1 > div p:last-child {
  background-color: black;
  display: inline;
  padding: 3px 4px;
}

.banner-section__series-third-2 {
  display: flex;
  gap: 56px;
  margin-bottom: 100px;
}

.banner-section__series-four {
  position: relative;
  margin-bottom: 100px;
}

.banner-section__series-four p {
  position: absolute;
  top: 0;
  width: 46%;
}

.banner-section__series-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  margin-bottom: 100px;
}

.banner-section__series-five-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 80px;
}

.banner-section__series-five-left p {
  margin: 0;
}

.banner-section__series-five-left img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-section__series-five-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.banner-section__series-five-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Logo-section */
.logos-section__container {
  margin-bottom: 100px;
}

.logos-section__container img {
  display: block;
  width: 100%;
}

.logos-section__container p {
  font-size: 20px;
  margin-top: 36px;
}

.logos-section__group1 img {
  margin-block: 72px;
  border-radius: 16px;
}

.logos-section__group1-img2 {
  position: relative;
}

.logos-section__group1-text {
  position: absolute;
  top: 660px;
  left: 56px;
  right: 630px;
}

.logos-section__group2 p {
  margin-bottom: 24px;
}

.logos-section__group2 img {
  margin-bottom: 72px;
  border-radius: 16px;
}

.logos-section__group3 img:first-child {
  border-radius: 16px 16px 0 0;
}

.logos-section__group3 img:last-child {
  border-radius: 0 0 16px 16px;
}

/* Illustration-section */
.illustration-section__container {
  margin-bottom: 100px;
}

.illustration-section__container img {
  border-radius: 16px;
}

.illustration-section__container p {
  font-size: 20px;
  margin-block: 36px;
}

.illustration-section__container video {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 36px;
}

.illustration-section__content-1 p:nth-of-type(1) {
  font-size: 24px;
}

.illustration-section__content-1 img {
  margin-block: 36px;
}

.illustration-section__content-2 p {
  margin-top: 100px;
}

.illustration-section__content-2-img {
  display: flex;
  gap: 46px;
}

.illustration-section__content-3 {
  position: relative;
}

.illustration-section__content-3 p {
  margin-top: 100px;
}

.illustration-section__content-3 img {
  margin-block: 36px;
}

.illustration-section__content-3 p:nth-of-type(2) {
  position: absolute;
  top: 840px;
  left: 256px;
  right: 720px;
  z-index: 2;
}

/* Mobileapp-section */
.mobileapp-section__container p {
  font-size: 20px;
  margin-block: 36px;
}

.mobileapp-section__container img:nth-of-type(2) {
  position: relative;
  top: -244px;
}

.mobileapp-section__container img:nth-of-type(3) {
  margin-top: -160px;
}

.mobileapp-section__content {
  position: relative;
}

.mobileapp-section__content img {
  position: relative;
  top: -90px;
}

.mobileapp-section__content p {
  margin: 0;
}

.mobileapp-section__content p:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 42px;
}
.mobileapp-section__content p:nth-of-type(2) {
  position: absolute;
  top: 694px;
  left: 42px;
}
.mobileapp-section__content p:nth-of-type(3) {
  position: absolute;
  bottom: 6.5%;
  left: 26.5%;
  width: 100%;
  text-align: center;
}

/* Website-section */
.website-section__container {
  margin-bottom: 100px;
}

.website-section__container p {
  font-size: 20px;
}

.website-section__container img {
  border-radius: 16px;
  margin-block: 36px;
}

.website-section__content-1,
.website-section__content-2 {
  position: relative;
}

.website-section__content-1 a {
  position: absolute;
  font-size: 20px;
  bottom: 36px;
  right: 20px;
  color: rgba(249, 221, 191, 1);
  text-decoration-line: underline;
}

.website-section__content-2 p {
  position: absolute;
  top: 90px;
  right: 140px;
  left: 750px;
}
